<main>
    <section class="pt-5 pb-3 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img src="https://spoonacular.com/application/frontend/images/logo-simple-framed-green-gradient.svg"
                 class="mb-4"
                 width="72"
                 height="57">
                <h1>Menu de platos</h1>
            </div>
        </div>
    </section>
    <div *ngIf="platosGuardados.length > 0">
        <div class="album py-5 bg-success bg-gradient">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <div class="col" *ngFor="let plato of platosGuardados">    

                        <app-plato [plato]="plato" ></app-plato>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>



<app-footer></app-footer>


