<app-navbar></app-navbar>


<main class="animate__animated animate__fadeIn animate__faster">
    
    <section class="pt-5 pb-3 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <img src="https://spoonacular.com/application/frontend/images/logo-simple-framed-green-gradient.svg"
                 class="mb-4"
                 width="72"
                 height="57">
                <h1>Menu de platos</h1>
            </div>
            <div class="col-lg-3 col-md-4">
                <div *ngIf="platosGuardados.length > 0" class="mt-5">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"> Total: {{ totalPlatos | currency }} </li>
                        <li class="list-group-item list-group-item-success"> Promedio de preparacion: {{ promedioTiempo }} </li>
                        <li class="list-group-item list-group-item-success"> Promedio Health Score: {{ promedioScore }} </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </section>
    <ng-container *ngIf="platosGuardados.length > 0 ; else vacio">
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <div class="col" *ngFor="let plato of platosGuardados">    

                        <app-plato [plato]="plato" (boton)="borrar($event)" ></app-plato>

                    </div>
                </div>
            </div>
        </div>
        

    </ng-container>
    <ng-template #vacio class="row">
        <div class="col text-center">
            <h3 class="text-muted">El menu de platos se encuentra vacio</h3> 
            <br>
            <h5 class="text-muted">Puede agregar nuevos desde la seccion buscar</h5>   
        </div>
    </ng-template>
</main>



<app-footer class="animate__animated animate__fadeIn animate__faster"></app-footer>


