<div class="row" mat-dialog-title>
  <div class="col-11">
    <h1>Detalles del plato</h1>

  </div>
  <div class="col-1 px-1">

    <button class="btn btn-sm btn-dark" (click)="closeDialog()">X</button>
  </div>

</div>
<div mat-dialog-content>
  <ul>
    <li>
      <span>Nombre: {{ data.title }}</span>
    </li>
    <li>
        <span>Precio: $ {{ data.pricePerServing }}</span>
      </li>
      <li>
        <span>Tiempo de preparación: {{ data.readyInMinutes }} min </span>
      </li>
      <li>
        <span>HealthScore: {{ data.healthScore }}</span>
      </li>
      <li>
        <span>Vegano: {{ vegan }}</span>
      </li>
  </ul>
</div>