<div class="card shadow-sm animate__animated animate__fadeIn animate__faster">
    <img [src]=plato.image class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ plato.title }}</h5>
        <div>
            <button mat-button (click)="openDialog()" type="button" class="btn btn-sm btn-outline-dark">
                Ver detalles
            </button>
            <button type="button" class="btn btn-sm float-end" (click)="event()"
                [ngClass]="buscar ? 'btn-outline-success' : 'btn-outline-danger'">
                {{ (buscar)? 'Agregar': 'Borrar' }}
            </button>
            

        </div>
    </div>
</div>
        

    
