<div class="col">
    <div class="card shadow-sm">
        <img src="https://spoonacular.com/recipeImages/640311-312x231.jpg"
             class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Nombre del plato</h5>
            <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quas porro laudantium ad molestiae vitae obcaecati, dolores ipsam doloremque
            </p>
            <div>
                <button type="button"
                        class="btn btn-sm btn-primary">
                        Ver detalles
                </button>
                <button type="button"
                        class="btn btn-sm btn-danger float-end">
                        Eliminar
                </button>

            </div>
        </div>
    </div>
</div>